<div class="container">
    <form class="example-form" >
      <h1 class="title">FORMULÁRIO</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Resumo</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
    <br />
    <mat-radio-group aria-label="Select an option">
      <label>Tipo de Problema:</label>
      <br/>
      <mat-radio-button value="1">Tarefa</mat-radio-button>
      <mat-radio-button value="2">Bug</mat-radio-button>
    </mat-radio-group><br>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label >Prioridade</mat-label>
      <mat-select>
          <mat-option [value]="0">Crítica</mat-option>
          <mat-option [value]="1">Alta</mat-option>
          <mat-option [value]="2">Média</mat-option>
          <mat-option [value]="3">Baixa</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Prazo Final</mat-label>
      <input matInput placeholder="Ex. 01/01/2000" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <br />
    <div class="example-button-row">
      <button mat-stroked-button color="accent">Enviar</button>
    </div>
  </form>
</div>
